.container {
    width: 960px;
    margin: auto;
    padding: 5px;
    background-color: #ffe4e4;
}

body {
    background-image: url(asset/leaves.jpg);
    padding: 1vw;
}

.header {
    padding-bottom: -10px;
    padding-top: 1px;
    text-transform: uppercase;
    margin-bottom: -10px;
    background-color: #fabea7;
}
.header a {
    text-decoration: none;
    color: #5d54a4;
    padding: 8px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.header .judul {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    margin-bottom: -15px;
    text-align: center;
}
.header ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
}
.header a:hover {
    background-color: #848ccf;
    color: white;
}

.hero {
    height: 280px;
    background-image: url(asset/japan.jpg);
    background-size: cover;
    background-position: 0 -500px;
    border-bottom: 5px solid #be5683;
}

.content {
    padding: 10px;
}
.content h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-left: 5x;
}
.content .penulis {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: -20px;
    margin-left: -5px;
}
.content .penulis a {
    color: #be5683;
}
.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
}
.content h3 {
    text-decoration: none;
    color: #be5683;
    padding: 8px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.content .flex-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 280px;
    color: white;
}
.content h3 a:hover {
    background-color: #be5683;
    padding: 10px;
    color: white;
}
.content ul li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: circle;
    font-size: 13px;
}

.footer {
    background-color: #133b5c;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer p {
    padding: -5px;
}

/* media queries for responsive design */

@media screen and (max-width: 768px) {
    .header a {
        padding: 1vw;
        font-size: 1.5rem;
    }
    .content p {
        font-size: 1.95rem;
        line-height: 1.5;
        padding: 3vw;
        margin: 2vw;
    }
    .content ul li {
        font-size: 1.75rem;
        line-height: 1.5;
        padding: 1vw;
    }
    .content h2 {
        font-size: 3rem;
        line-height: 1.5;
        padding: 1vw;
    }
    .header h1 {
        font-size: 3rem;
        line-height: 1.5;
        padding: 1vw;
    }
    .footer {
        font-size: 1.5rem;
    }
    .flex-container {
        font-size: 1.5rem;
        padding: 50px;
    }
}

@media screen and (max-width: 400px) {
    .content p {
        padding: 3vw;
        line-height: 1.5;
        margin: 30px;
    }
}

@media screen and (max-width: 1025px) {
    .content p {
        padding: 1vw;
        line-height: 1.5;
        font-size: 1.5rem;
    }
}

