* {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
#nav-bar {
    /* position: sticky; */
    visibility: visible;
    top: 0;
    padding: 0;
    margin-bottom: -20px;
}
#navbarSupportedContent ul li {
    text-align: right;
}
.navbar-brand img {
    height: 40px;
    padding-top: -30px;
    padding-left: 30px;
    margin-top: -10px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul {
    text-align: right;
    float: right;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#nav-bar ul li a:hover {
    color: #315b96!important;
}
.navbar {
    background: #ffdfdf;
    margin-bottom: 20px;
}
.navbar-toggler {
    border: none!important;
    font-weight: 600;
    font-size: 16px;
}
.nav-link {
    color: black!important;
    font-weight: 500;
    font-size: 16px;
}

/* SLIDER */
#slider {
    width: 100%;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-item>img {
    width: 100%
}
.carousel-caption h5 {
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #315b96;
}

/* ABOUT */
#about {
    padding-top: 50px;
    padding-bottom: 50px;
}
#about h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #315b96;
}
.about-content {
    padding-top: 15px;
    color: black;
    margin-right: 50px;
}
.skills-bar p {
    margin-bottom: 6px;
    color: black;
    font-weight: 600;
}
.progress-bar {
    border-radius: 16px;
}
.progress {
    border-radius: 16px !important;
    margin-bottom: 15px;
}

/* Hobby */
#hobby {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/work.jpg);
    background-size: cover;
    background-position: center;
    color: #ffdfdf !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#hobby h2 {
    text-align: center;
    padding-bottom: 10px;
}
#hobby h2::after {
    content: '';
    background: #ffdfdf;
    display: block;
    height: 2px;
    width: 200px;
    margin: 10px auto 5px;
}
#hobby p {
    color: white;
    font-size: 14px;
    margin: 10px;
}
#hobby h3 {
    color: #fbc1bc;
    margin: 10px;
}
.hobby {
    margin-top: 30px;
}
.icon img {
    width: 100px;
    /* margin-left: 50px; */
}
.hobby .col-md-4:hover {
    background: #0278ae;
    cursor: pointer;
    transition: 0.3s;
}

/* EXPERIENCES */
#experiences h1 {
    padding-top: 30px;
    padding-bottom: 60px;
    color: #233567;
    text-align: center;
}
h1::after {
    content: '';
    background: #233567;
    display: block;
    height: 3px;
    width: 320px;
    margin: 10px auto 5px;
}
.organization {
    margin-top: 25px;
}
.organization .img-box {
    opacity: 1;
    display: block;
    position: relative;
}
.organization h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: black !important;
}
.organization h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #315b96 !important;
}
#experiences .fa {
    height: 25px;
    width: 25px;
    color: #315b96 !important;
    background: white;
    padding: 4px;
    border-radius: 50%;
}
#experiences .row {
    margin: 0;
}
.img-box ul {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-70%);
    opacity: 0;
}
.img-box ul li {
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul {
    opacity: 1;
}
.img-box ul, .img-box ul li {
    transition: 0.3s;
}
.img-box h2 {
    padding-right: 50px;
}
.img-box h3 {
    padding-right: 50px;
}
.img-responsive {
    width: 180px;
    padding-right: 40px;
}
.img-bem {
    width: 160px;
    padding-right: 35px;
}
.img-el {
    width: 250px;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-right: 50px;
}
.img-box p {
    margin: 10px;
    padding-right: 50px;
    margin-bottom: -100px;
}

/* PROMOSI */
#promo {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/study.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
    text-align: center;
    margin-top: 150px;
    padding: 80px;
    font-family: sans-serif;
    font-size: 38px;
}

/* REVIEWS */
#reviews h1 {
    text-align: center;
    color: #233567;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
.text-center {
    color: black;
    font-size: 18px;
    padding: 10px;
    margin-top: -40px;
}
#reviews .row {
    margin-top: 50px;
}
.col-md-4 {
    margin: 30px auto;
}
.drama {
    padding: 80px 10px 10px;
    background-color: #ffdfdf;
    border-radius: 30px;
}
.drama img {
    top: -120px;
    position: relative;
    border: 10px solid #315b96;
    border-radius: 20px;
}
.user {
    width: 240px;
    height: 160px;
}
.drama h3 {
    margin-top: -100px;
}
.drama p {
    color: black;
    font-size: 12px;
    margin: 20px;
}
.drama:hover {
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
}

/* CONTACT */
#contact {
    background: #315b96;
    text-align: center;
    color: #ffdfdf;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
}
#contact img {
    width: 70px;
    margin: 30px;
    transition: transform .1s;
}
#contact img:hover {
    transform: scale(1.5);
}
.container {
    color: white;
}
#contact h1::after {
    content: '';
    background: #ffdfdf;
    display: block;
    height: 3px;
    width: 200px;
    margin: 10px auto 5px;
}


/* FOOTER */
#footer {
    background: #315b96;
    color: #ffdfdf;
    padding-top: 65px;
}

/* responsiveness */
@media screen and (max-width: 400px) {
    .container .row {
        margin: 20px;
    }
    .col-md-6.skills-bar {
        margin: 10px;
    }
    .about-content {
        line-height: 25px;
    }
    #hobby .container {
        padding: 25px;
        margin: 10px;
    }
    #experiences .img-box {
        padding-bottom: 100px;
    }
    #experiences .img-box img {
        margin-left: 40px;
    }
    #experiences .img-box h2, h3, p {
        margin-left: 30px;
    }
    #experiences p {
        padding-left: 20px;
    }
    #reviews .text-center {
        padding: 40px;
    }
    #reviews h3 {
        padding-right: 18px;
    }
    .drama img {
        border: 5px solid #0278ae;
        width: 200px;
        height: auto;
        /* border-right: 100px; */
    }
    .drama {
        padding-right: 20px;
    }
    #contact {
        padding-bottom: 50px;
        margin: auto;
    }
    #contact img {
        transition: transform .2s;
        /* width: 80px; */
        display: inline;
        margin: 30px;
    }
    #contact img:hover {
        transform: scale(1.5);
    }
}

/* -------------INI NEW PAGE------------- */

.newhtml {
    background: #fbc1bc;
}
.newcontainer {
    text-align: center;
    color: #315b96;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.newcontainer p {
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
}
.newcontainer h2 {
    font-size: 3em;
    font-weight: bold;
}
.caption p {
    color: black;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.thumbnail:hover .image {
    opacity: 0.3;
}
.thumbnail:hover .middle {
    opacity: 1;
}  
.text {
    background-color: #315b96;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    padding: 16px 32px;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.back {
    padding-bottom: 40px;
}
#footergallery p {
    color: black;
    font-size: 15px;
    margin: 10px;
    padding-top: 20px;
}

/* ---------- INI FAVORITES PAGE ---------- */
.novelpage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.card a {
    text-decoration: none;
    color: #ffdfdf;
}
#core {
    padding: 10rem 0;
    background-color: #ffdfdf;
}
.heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.5rem;
    margin-right: -3px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #315b96;
    position: relative;
}
.subheading {
    font-size: 2rem;
    color: black;
    text-align: center;
}
.heading::after {
    content: '';
    width: 20rem;
    height: 0.5rem;
    background-color: #233567;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}
.card-wrapper {
    display: flex;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.card {
    width: 24rem;
    background-color: #fbc1bc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
}
.card .card-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    clip-path: polygon(0 1%, 100% 1%, 100% 60%, 0 77%);
}
.profile-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 0.5rem solid #fbc1bc;
}
.card h1 {
    font-size: 2rem;
    color: #233567;
    text-align: center;
    margin: 1.5rem;
}
.keterangan {
    color: #777;
    font-size: 1.2rem;
    margin-top: -1rem;
    font-weight: 300;
}
.aboutnovel {
    font-size: 1rem;
    margin: 1.5rem;
    font-style: italic;
    text-align: center;
    color: black;
}
.card .btn {
    padding: 1rem 2.5rem;
    background-color: #315b96;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: white;
    font-size: 1.4rem;
    transition: all 0.5s;
}
.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.2);
}
.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}
.socialmedia {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.socialmedia i {
    font-size: 3rem;
}
.fa-facebook-square {
    color: #3b5999;
}
.fa-twitter-square {
    color: #55acee;
}
.fa-instagram {
    color: #e6683c;
}
.fa-google {
    color: #DB4437;
}
.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-instagram:hover, .fa-google:hover {
    color: #315b96;
}
/* Responsiveness */

@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin: 2rem;
        transition: transform 0.5s;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .card:nth-child(1) {
        animation: fadeIn 0.5s 0.5s backwards;
    }
    .card:nth-child(2) {
        animation: fadeIn 0.5s 1s backwards;
    }
    .card:nth-child(3) {
        animation: fadeIn 0.5s 1.5s backwards;
    }
    .card:nth-child(4) {
        animation: fadeIn 0.5s 2s backwards;
    }
    .card:hover {
        transform: scale(1.05);
    }
    
}
.rows iframe {
    display: inline;
    align-items: center;
    margin: 2.5rem;
}

